 .u-section-1 {
  background-image: url("images/playful-carefree-charismatic-redhead-female-with-freckles-long-hair-showing-okay-zero-ges-Recovered.jpg");
  background-position: 50% 78.64%;
}

.u-section-1 .u-group-1 {
  width: 570px;
  min-height: 403px;
  height: auto;
  margin: 139px 0 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: 40px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 23px auto 0 0;
}

.u-section-1 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 23px auto 0 0;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  margin: -35px auto 0 162px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: 470px;
    height: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 20px;
    margin-left: 62px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }
}